@page
@model PurchaseTicketModel
@{
    ViewData["Title"] = "PurchaseTicket";
}

<h1>PurchaseTicket</h1>
<h4>Movie</h4>
<hr />
<div class="col-md-4">
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.SeatsLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.SeatsLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Salon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Salon)
        </dd>
    </dl>
    <div>
        <form method="post">
            <label class="control-label">Number of tickets</label>
            <select asp-for="TicketAmount" class="form-control">
                @for (int i = 1; i <= Model.MaxTickets; i++)
                {
                    <option value=@i>@i</option>
                }
            </select>
            <div class="form-group">
                <button asp-page-handler="purchaseticket" asp-route-id="@Model.Movie.ID">
                    Purchase ticket(s)
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Movies">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
